<div class="room-content">
  <div class="dropentry dropspot" 
       dnd-droppable (onDropSuccess)="onDrop($event, undefined)" [dropZones]="['room']">
    <div class="itemspot" align="center">
      <i>Empty slot</i>
    </div>
  </div>
  <div appSlimScroll size="7px" 
                     height="50vh"
                     position="left"
                     railVisible=false
                     opacity=".5"
                     distance="1px"
                     color="#000">
    <div *ngFor="let field of items">
      <div class="dropentry" 
           dnd-droppable (onDropSuccess)="onDrop($event, field)" [dropZones]="['room']">
        <div class="item" 
             dnd-draggable [dragEnabled]="true" [dragData]="field" 
             [dropZones]="['inventory-item']"
             (dblclick)="onActivate(field)">
         <span [style.background-image]="'url(' + itemImage(field) + ')'"></span> 
         {{itemName(field)}}
        </div>
      </div>
    </div>
  </div>
</div>
