<div class="room-content">
  <div slimScroll size="7px" 
                  height="55vh"
                  position="left"
                  railVisible=false
                  opacity=".5"
                  distance="1px"
                  color="#000">
    <div *ngFor="let field of items">
      <!--button (click)="onClicked(field.name)" class="btn btn-default">{{field.label}}</button -->
      <div dnd-droppable (onDropSuccess)="onDrop($event, field)">
        <div class="stuff" dnd-draggable [dragEnabled]="true" [dragData]="field">
         <span [style.background-image]="'url(' + itemImage(field) + ')'"></span> {{field}}
        </div>
      </div>
    </div>
</div>
