.dialog {
}
.dialog-content {
  padding: 10px 10px 10px 10px;
}
.dialog-box {
  z-index: 100;
  box-shadow: 0px 0px 12px black;
  width: 400px;
  background: #202a2a;
  color: white;
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  left: calc(50% - 125px);
  top: 100px;
}
.dialog-box header {
  border-bottom: 1px solid black;
  color: white;
  padding: 5px;
  display: flex;
  background: #369;
}
.dialog-box header .title {
  flex-grow: 1;
  user-select: none;
  pointer-events: none;
}
.function:before {
  background: #094d09;
  font-size: 70%;
  text-transform: uppercase;
  content: "F";
  padding: 1px 3px 0px 3px;
  margin-right: 8px;
}
.verb:before {
  background: #681717;
  font-size: 70%;
  text-transform: uppercase;
  content: "V";
  padding: 1px 3px 0px 3px;
  margin-right: 8px;
}
.text:before {
  background: #3932b4;
  font-size: 70%;
  text-transform: uppercase;
  content: "T";
  padding: 1px 3px 0px 3px;
  margin-right: 8px;
}
.dialog-box .button {
  font-weight: 700;
  width: 100%;
  text-align: left;
}

.dialog-box .button.active {
  background: green;
}

.cursor-draggable  > header {
  cursor: move;
}

.close-button {
  user-select: none;
}
.close-button:hover {
  cursor: pointer;
  color: #8c2a2a;
}
