<div class="temporary">
  <div [@statusChanged]="isChanged">
    <small>
     <button (click)="onClick($event)"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
     Inventory
    </small>
  </div>
</div>
<div class="inventory-container" [ngClass]="{'visible': visible}">
  <div align="left" class="inventory-box" 
       appDraggable [appDraggableHandle]="draghandle">
    <header #draghandle>
      <div class="title">Inventory</div>
      <div class="close-button" (click)="onClose()">✕</div>
    </header>
    <div class="inventory-content">
      <div class="dropentry dropspot"
           dnd-droppable (onDropSuccess)="onDrop($event, undefined)" 
           [dropZones]="['inventory-item']">
          <div class="itemspot" align="center">
            <i>Empty slot</i>
          </div>
      </div>
      <div appSlimScroll size="7px" 
                         height="40vh"
                         railVisible="true"
                         alwaysVisible="true"
                         railColor="#bc94b7"
                         opacity=".5"
                         distance="3px"
                         color="#000">
        <div *ngFor="let field of items">
          <div class="dropentry"
               dnd-droppable (onDropSuccess)="onDrop($event, field)" 
               [dropZones]="['inventory']"
               [allowDrop]="allowDrop(field)">
            <div class="item" 
                 dnd-draggable [dragEnabled]="true" [dragData]="field"
                 [dropZones]="['room', 'players', 'inventory']"
                 (dblclick)="onActivate(field)">
              <span [style.background-image]="'url(' + itemImage(field) + ')'"></span>
              {{itemName(field)}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
