.temporary {
  background: rgb(95, 130, 88);
}
.inventory-container {
  display: none;
  position: relative;
}
.inventory-container.visible {
  display: block;
}
.inventory-box {
  z-index: 1;
  box-shadow: 0px 0px 12px black;
  width: 250px;
  background: #202a2a;
  color: white;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  left: calc(50% - 125px);
  top: 10px;
}
.inventory-box header {
  border-bottom: 1px solid black;
  color: white;
  padding: 5px;
  display: flex;
  background: #369;
}
.inventory-box header .title {
  flex-grow: 1;
  pointer-events: none;
  user-select: none;
}
.inventory-box button {
  font-weight: 700;
  width: 100%;
}
.inventory-content {
  padding: 2px 2px 0px 2px;
}

.item {
  color: white;
  background: #3a4444;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: grab;
  user-select: none;
}

.item span {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: 50px;
  vertical-align: middle;
}

.itemspot {
  color: white;
  padding: 10px;
  border: 1px solid #3a4444;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}

.dropentry {
  border-color: white;
  margin-bottom: 2px;
}

.dropspot {
  margin-bottom: 2px;
}

.cursor-draggable  > header {
  cursor: move;
}

.close-button {
  user-select: none;
}
.close-button:hover {
  cursor: pointer;
  color: #8c2a2a;
}
